.button {
  border: none;
  background-color: black;
  font-size: 15px;
  padding: 6px 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.login-label {
  font-size: 20px;
}
.login-input {
  font-size: 20px;
  padding: 3px 6px;
  margin: 5px;
}
